<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="app">
       <div v-if="type === 'A'">
           A
       </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>

        <div v-if="loginType === 'username'">
            <label>username</label>
            <input placeholder="Enter your username" />
        </div>
        <div v-else>
            <label>email</label>
            <input placeholder="Enter your email" />
        </div>

        <h1 v-show="ok">Hello!</h1>
    </div>



<script type="text/javascript">
    var vm = new Vue({
        el:"#app",
        data:{
            type: 'D',
            loginType: 'username',
            ok: true
        }
    });

</script>

</body>
</html>